<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Spotify Jukebox</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div id="outer-container" class="container-fluid wrapper d-flex h-100 flex-column">
    <header class="row pb-4 pt-4 px-5 mb-4 border-bottom hud-overlay d-flex">
      <div class="col-md-9 my-auto">
        <section class="row">
          <p class="my-auto"><span class="font-weight-bold">Hillside Jukebox</span></p>
        </section>
        <div class="row">
          <p class="my-auto">Built by Matt Rollender</p>
        </div>
      </div>
      <div class="col-md-3 my-auto">
        <div class="row d-flex">
        <span id="spotify-powered-by" class="my-auto">powered by</span><img class="my-auto" id="spotify-logo" src="<%= Routes.static_path(@conn, "/images/spotify_green.png") %>">
        <button type="button" class="btn btn-secondary">get spotify free</button>
        </div>
      </div>
    </header>
    <main role="main" class="px-3 d-flex flex-column" >
      <%= if info = get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= info %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
