<div id="alert-host" class="alert alert-info alert-dismissible fade" role="alert"> You are now the <strong>host</strong> of the sesh and have been granted greater control. <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button></div>
