    <title>Spotify Sesh</title>
    <meta property="og:title" content="Spotify Sesh" />
    <meta property="og:type" content="webapp" />
    <meta property="og:url" content="http://spotifysesh.com" />
    <meta property="og:image" content="http://spotifysesh.com/favicon/android-icon-192x192.png" />
    <meta property="og:site_name" content="Spotify Sesh" />
    <meta property="fb:admins" content="USER_ID" />
    <meta property="og:description" content="Play Spotify music with your friends" />
