/* This file is for your main application css. */
// use for bootstrap responsiveness
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "util.scss";

.hj-header {
  display: flex;
}

header {
  background: none;
  z-index: 200;
}

html,
body {
  @include hide-scrollbar;
  @include smooth-scroll;
  height: 100%;
  color: white;
}

main {
  flex-grow: 1;
}

#background {
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: -10;
  filter: blur(3px);
}

.preview-container {
  text-align: center;
}

.preview-image-container {
  display: inline-block;
  height: 100%;
}

#preview-image {
  height: 100%;
  width: auto;
  box-shadow: 0 0 10vh 10vh rgba(25, 20, 20, 0.2);
  background-size: contain;
  max-width: 80vw;
  max-height: 80vw;
  margin: auto;
}

.progress-outer {
  width: 100%;
  height: 6px;
  background-color: #111;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #999;
}

.progress-inner {
  width: 50%;
  background-color: #999;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #191414;
}

.progress-holder {
  height: 100%;
}

#outer-container {
  padding: 0;
}

.btn {
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.2rem;
}

.btn-primary {
  background-color: #1DB954 !important;
  border-color: #1DB954 !important;
}

.btn-primary:hover {
  background-color: #1DB954;
  border-color: #1DB954;
}

.btn:hover {
  scale: 1.05;
  transition: scale ease 0.05s;
}

.btn-secondary {
  color: 191414;
  box-shadow: 0 0 0 1px rgb(215, 215, 215);
  background-color: rgba(25, 20, 20, 0.8)
}

.btn-secondary:hover {
  background-color: rgba(25, 20, 20, 1.0);
  box-shadow: 0 0 0 1px rgb(255, 255, 255);
}

.card {
  border-radius: 0;
}

.card-body {
  padding: 1.75rem;
}

.form-control {
  background-color: #FFFFFF;
  border-radius: 24px;
  color: #191414;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.form-control:focus {
  background-color: #FFFFFF;
  color: #191414;
}

#spotify-logo,
#spotify-icon {
  height: 30px;
  width: auto;
  margin: 15px;
}

body {
  overflow-x: hidden;
}

#card-area {
  flex: 1;
  min-height: 0;
}

#status-bar {
  width: 100vw;
}

#main {
  min-height: 0;
}

#card-area .col {
  max-height: 100%;
}

#queue-card {
  flex-direction: column;
  height: 100%;
}

#queue-col {
  flex-direction: column;
}

.card {
  min-height: 0;
}

#queue-table tbody {
  overflow-y: scroll;
}

table {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
}

tr th,
tr td {
  flex: 1;
}

#queue-table-wrap {
  min-height: 0;
  flex: 1;
  display: flex;
  max-height: 90vh;
}

#div-join-room,
#div-create-room {
  flex-direction: column;
  justify-content: space-around;
}

#col-create-room {
  flex-direction: column;
}

#row-create-room-btns {
  flex: 1;
}

.enter-modal-header-col h5 {
  font-weight: bold;
  text-align: center;
}

.form-control-roomcode {
  background:
    repeating-linear-gradient(90deg,
      dimgrey 0,
      dimgrey 1ch,
      transparent 0,
      transparent 1.5ch) 0 100%/100% 2px no-repeat;
  letter-spacing: .5ch;
  border: none;
  color: #d3d3d3;
  font: 3ch consolas, monospace;
  width: 6.0ch;
  text-transform: lowercase;
}

#audio-play-overlay {
  z-index: 300;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;
}

#audio-play-overlay .cover {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  cursor: pointer;
}

#audio-play-overlay p {
  margin: auto;
  z-index: 301;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

#spotify-powered-by {
  text-transform: uppercase;
  font-size: 10px;
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
  #spotify-icon {
    display: none;
  }

  #spotify-logo {
    display: initial !important;
  }
}

#spotify-logo {
  display: none;
}

.spotify-branding-container {
  margin-right: 0;

  .row {
    justify-content: flex-end;
  }
}

.title-author {
  font-size: 0.5rem;
}

.hud-top {
  @include gradient-to-black(top, 1);
}

.hud-bottom {
  @include gradient-to-black(bottom, 0.8);
}

.headline-main-content {
  height: 100vh;
}

.queue-peek-holder {
  text-align: center;
  margin-top: -1em;
}

.bottom-readable {
  max-height: 90vh;
  background-color: rgba(25, 20, 20, 0.8);
}

.queue-table-header tr th {
  border-top: none;
}

.search-list-group {
  .search-result-album-cover {
    img {
      width: 100%;
    }
  }
}

.btn-device-playback {
  height: 50%;
  margin: auto;

  .playback-device-icon {
    height: 100%;
    width: auto;
  }
}