/* This file is for your main application css. */
// use for bootstrap responsiveness
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "util.scss";
@import "welcome.scss";
$search-filler-color: rgba(255, 255, 255, 0.1);
$theme-primary-color: #64B5F6;
$theme-primary-darker: #2196f3;

.hj-header {
  display: flex;
}

header {
  background: none;
  z-index: 200;
}

.plus-btn-top-fill {
  fill: $theme-primary-color;
}

html,
body {
  @include hide-scrollbar;
  @include smooth-scroll;
  height: 100%;
  color: white;
}

main {
  flex-grow: 1;
}

#background {
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: -10;
  filter: blur(3px);
}

.preview-container {
  text-align: center;
  position: relative;
  justify-content: flex-start;
}

.preview-image-container {
  display: inline-block;
  height: 100%;
}

#preview-image {
  height: 100%;
  box-shadow: 0 0 10vh 10vh rgba(25, 20, 20, 0.2);
  background-size: contain;
  max-width: 80vw;
  max-height: 80vw;
  margin: auto;
}

.progress-outer {
  width: 100%;
  height: 6px;
  background-color: #111;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #999;
}

.progress-inner {
  width: 50%;
  background-color: #999;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #191414;
}

.progress-holder {
  height: 100%;
}

#outer-container {
  padding: 0;
}

.btn {
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.2rem;
}

.btn-primary {
  background-color: $theme-primary-darker !important;
  border-color: $theme-primary-darker !important;
}

.btn-primary:hover {
  background-color: $theme-primary-darker;
  border-color: $theme-primary-darker;
}

.toast-icon {
  height: 1.125rem;
  width: 1.125rem;
}

.btn:hover {
  scale: 1.05;
  transition: scale ease 0.05s;

  &.disabled {
    scale: 1;
    cursor: not-allowed;
  }
}

.btn-secondary {
  box-shadow: 0 0 0 1px rgb(215, 215, 215);
  background-color: rgba(25, 20, 20, 0.85)
}

.btn-secondary:hover {
  background-color: rgba(25, 20, 20, 1.0);
  box-shadow: 0 0 0 1px rgb(255, 255, 255);

  &.disabled {
    color: #ced4da;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: 0 0 0 1px #d7d7d7;
  }
}

.card {
  border-radius: 0;
}

.card-body {
  padding: 1.75rem;
}

.form-control {
  background-color: #FFFFFF;
  border-radius: 24px;
  color: #191414;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.form-control:focus {
  background-color: #FFFFFF;
  color: #191414;
}

#spotify-logo,
#spotify-icon {
  height: 30px;
  width: auto;
  margin: 15px;
}

body {
  overflow-x: hidden;
}

#card-area {
  flex: 1;
  min-height: 0;
}

#main {
  min-height: 0;
}

#card-area .col {
  max-height: 100%;
}

#queue-card {
  flex-direction: column;
  height: 100%;
}

#queue-col {
  flex-direction: column;
}

.card {
  min-height: 0;
}

#queue-table tbody {
  overflow-y: scroll;
}

table {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
}

tr th,
tr td {
  flex: 1;
}

#queue-table-wrap {
  min-height: 0;
  flex: 1;
  display: flex;
  max-height: 90vh;
}

.join-room-form,
#div-create-room {
  flex-direction: column;
  justify-content: space-around;
}

.join-room-form {
  text-align: center;
  width: 100%;
}

#col-create-room {
  flex-direction: column;
}

#row-create-room-btns {
  flex: 1;
}

.enter-modal-header h5 {
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#enter-modal-room-create {
  width: 100%;
}

.form-control-roomcode {
  background:
    repeating-linear-gradient(90deg,
      dimgrey 0,
      dimgrey 1ch,
      transparent 0,
      transparent 1.5ch) 0 100%/100% 2px no-repeat;
  letter-spacing: .5ch;
  border: none;
  color: #d3d3d3;
  font-size: 3ch;
  width: 6.0ch;
  text-transform: lowercase;
}

#audio-play-overlay {
  z-index: 300;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  left: 0;
}

#audio-play-overlay .cover {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  cursor: pointer;
}

#audio-play-overlay p {
  margin: auto;
  z-index: 301;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

#spotify-powered-by {
  text-transform: uppercase;
  font-size: 10px;
}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
  #spotify-icon {
    display: none;
  }

  #spotify-logo {
    display: initial !important;
  }
}

#spotify-logo {
  display: none;
}

.spotify-branding-container {
  margin-right: 0;

  .row {
    justify-content: flex-end;
  }
}

.title-sub {
  font-size: 0.72rem;
}

.hud-top {
  background-image: linear-gradient(to bottom, rgba(25, 20, 20, 0.85),
      cubic-bezier(0.48, 0.3, 0.64, 1),
      transparent);
  padding-bottom: 1rem;
}

.hud-bottom {
  background-image: linear-gradient(to top, rgba(25, 20, 20, 0.85),
      cubic-bezier(0.48, 0.3, 0.64, 1), transparent);
}

.headline-main-content {
  height: 100vh;
}

.queue-peek-holder {
  text-align: center;
  margin-top: -1em;
}

.bottom-readable {
  max-height: 90vh;
  background-color: rgba(25, 20, 20, 0.85);
}

.queue-table-header tr th {
  border-top: none;
}

.search-list-group {
  .search-result-album-cover {
    img {
      width: 100%;
    }

    &.blank img {
      background-color: $search-filler-color;
    }
  }

  .search-result-meta {
    margin: auto 0;

    .status-song-artist {
      font-weight: initial;
    }
  }

  .search-result-add.blank {
    cursor: default;
  }

  .status-song-title {
    margin: auto 0;
  }

  .status-song-artist {
    margin: auto 0;
  }

  .status-song-title.blank {
    height: 1rem;
    background-color: $search-filler-color;
    width: 50%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .status-song-artist.blank {
    height: 1rem;
    width: 30%;
    background-color: $search-filler-color;
    border-radius: 0.5rem;
  }
}

.btn-device-playback {
  height: 2.3rem;
  margin: auto;

  .playback-device-icon {
    height: 100%;
    width: auto;
  }

  &.devices-disabled {
    @extend .strikethrough;
  }

  &:hover {
    scale: 1;
  }
}

.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 35%;
  top: 50%;
  right: 35%;
  border-top: 3px solid white;
  background-color: white;
  border-radius: 3px;
  border-color: inherit;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn.btn-device {
  &.btn-device-active .device-icon-holder::after {
    position: absolute;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 0.15rem;
    background-color: $theme-primary-color;
    top: 0.3rem;
    right: 1rem;
    content: ' ';
    display: block;
  }
}

.device-name {
  padding: .75rem 1.25rem;
}

.device-icon-holder {
  padding: 0 1.5rem;
  text-align: center;
  height: 100%;
}

.device-icon {
  height: 1.5rem !important;
  width: 1.5rem !important;
  margin: auto;
}

.device-list-group {
  .list-group-item {
    padding: 0;
  }
}

.add-track-btn {
  scale: 1 !important;

  svg {
    width: 2em;
    min-width: 30px;
  }
}

.settings-btn {
  scale: 1 !important;

  .icon-settings {
    width: 2em;
    height: 2em;
  }
}

.modal-dismiss-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  padding: 0 !important;
  z-index: 7000;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.add-track-icon {
  scale: 1.5;

  path {
    fill: $theme-primary-color;
  }
}

.spinner-holder {
  margin: auto;
  flex: 1;
}

.modal-body {
  flex-direction: column;
}

.spinner-holder {
  min-height: 100px;

  .search-spinner {
    margin: auto;
    animation: spin 2s ease-in-out infinite;
  }
}

.btn-list-item {
  padding: 0;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  border-left:none;
  border-right:none;
  border-top-width:1px;

  .btn-list-button {
    padding: .75rem 1.25rem !important;
    width: 100%;
    height: 100%;
    scale: 1;
    text-transform: initial;
    margin: 0;
    font-size: 0.9rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#status-song-title,
#status-song-artist {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  min-width: 100%;

  &.blank {
    background-color: $search-filler-color;
    background-color: $search-filler-color;
    display: inline-block;
    min-width: 0;
    height: 1rem;
    border-radius: 0.5rem;
  }
}

.overlay-text {
  text-shadow: 0 0 3px rgba(25, 20, 20, 0.7);
}

#status-song-title {
  font-weight: bold;

  &.blank {
    width: 10rem;
  }
}

#status-song-artist {
  &.blank {
    width: 6rem;
  }
}

.preview-container-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
  display: flex;
}

.preview-container-overlay-content {
  margin: auto;
}

.room-code {
  color: $theme-primary-color;
}

.left-nav {
  .room-code-group {
    margin: 0.2rem;

    @include media-breakpoint-up(md) {
      margin-left: 4rem;
    }
  }

  .room-code-disp-label {
    text-transform: uppercase;
    font-size: 10px;
    margin: 15px;
  }

  .room-code-disp-code {
    top: -2px;
    position: relative;
    font-weight: bold;
    color: $theme-primary-color;
    text-transform: uppercase;
  }
}