@mixin hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@mixin smooth-scroll {
  scroll-behavior: smooth;
}

@mixin gradient-to-black($direction, $opacity) {
  background-image: linear-gradient(to $direction, rgba(25, 20, 20, 0), rgba(25, 20, 20, $opacity));
}