/* This file is for your main application css. */

.hj-header {
    display:flex;
}

html,body {
    height: 100%;
}

main {
    flex-grow: 1;

}

#background {
    background-position:center;
    background-size:cover;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    left:0;
    height:100%;
    z-index:-10;
    filter:blur(8px);
}