/* This file is for your main application css. */

.hj-header {
    display:flex;
}

html,body {
    height: 100%;
}

main {
    flex-grow: 1;

}

#background {
    background-position:center;
    background-size:cover;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    left:0;
    height:100%;
    z-index:-10;
    filter:blur(3px);
}

.hud-overlay {
    background-color: #191414;
}

#preview-image {
    height:100%;
    width:auto;
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}

.progress-outer {
    width:100%;
    height:6px;
    background-color:#111;
    border-radius:3px;
}

.progress-inner {
    width:50%;
    background-color:#999;
    height:100%;
    border-radius:3px;
}

.progress-holder {
    height:100%;
}

#outer-container {
    padding:0;
}

.btn {
    border-radius: 25px;
    text-transform: uppercase;
    font-weight:bold;
    font-size:12px;
    padding: .375rem 1.5rem;
}

.btn-primary {
    background-color: #1DB954;
    border-color: #1DB954;
}

.card {
    border-radius: 0;
}

.card-body {
    padding: 1.75rem;
}

.form-control {
    background-color: #FFFFFF;
    border-radius:24px;
    color: #191414;
    font-size:12px;
    margin-bottom:0.5rem;
}

.form-control:focus {
    background-color: #FFFFFF;
    color: #191414;
}

#spotify-logo {
    height:30px;
    width:auto;
    margin:15px;
}

#spotify-powered-by {
    text-transform: uppercase;
    font-size:12px;
}

body {
    overflow-x: hidden;
}

#card-area {
    flex:1;
    min-height: 0;
}

#status-bar {
    width:100vw;
}

#main {
    min-height:0;
}

#card-area .col {
    max-height:100%;
}

#queue-card {
    flex-direction: column;
    height:100%;
}

#queue-col {
    flex-direction: column;
}

.card {
    min-height:0;
}

#queue-table tbody {
    overflow-y: scroll;
}

table {
    display:flex;
    flex-direction:column;
}

tr {
    display:flex;
}

tr th, tr td {
    flex:1;
}

#queue-table-wrap {
    min-height:0;
    flex:1;
    display:flex;
}

#div-join-room, #div-create-room {
    flex-direction:column;
    justify-content: space-around;
}

#col-create-room {
    flex-direction:column;
}

#row-create-room-btns {
    flex:1;
}

.enter-modal-header-col h5 {
    font-weight: bold;
    text-align: center;
}

.form-control-roomcode {
    background: 
    repeating-linear-gradient(90deg, 
        dimgrey 0, 
        dimgrey 1ch, 
        transparent 0, 
        transparent 1.5ch) 
      0 100%/100% 2px no-repeat;
      letter-spacing: .5ch;
    border:none;
    color:#d3d3d3;
    font: 3ch consolas, monospace;
    width: 6.0ch;
    text-transform:lowercase;
}

#audio-play-overlay {
    z-index:100;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    left:0;
}

#audio-play-overlay .cover {
    height:100%;
    width:100%;
    background-color: black;
    opacity:0.5;
    position:absolute;
    cursor:pointer;
}

#audio-play-overlay p {
    margin:auto;
    z-index:30;
    font-weight:bold;
}

.hidden {
    display:none !important;
}