<div class="modal fade" id="add-track-modal" tabindex="-1" role="dialog" aria-labelledby="addTrackLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="modal-body-add-track" class="modal-body">
      </div>
    </div>
  </div>
</div>
